.details-similar-image {
  height: 200px;
  width: 200px;
}
.similar-item-rating-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.similar-products-rating-container {
  height: 30px;
  border: none;
  outline: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3b82f6;
  color: #ffffff;
  border-radius: 5px;
}
